---
layout: default
lang: en
title: Donate
---
<h1>Donate</h1>
<p>If you want to donate money or tools/electronics, you can always leave the the money in a donation box below the Wifi password poster or leave your stuff in the lab.
</p>

<p>
Haklab also accepts cryptocurrency donations.
</p>

<p>
Bitcoin:    _insert_btc_address_here_
</p>

<p>
Monero:     _insert_xmr_address_here_
</p>
