---
layout: default
lang: en
title: hklbgd
---
<h1>About us</h1>
<p>
Hacklab Belgrade (8-am){oos^m} is an open creative space for computer programming and technology enthusiasts, artists and all people interested in the intersection of technology and arts.
</p>
<p>
Its scope is wider than that of a community concerned only with computer security, as one may derive from the word in the title.
</p>
<p>
You can come and work on your own projects in a social setting, organize or attend a workshop, take part in a game jam, hackathon, bug squashing party or a good old-fashioned LAN party.
</p>
<p>
If you're interested in activities at hklbgd check the "WHAT AND WHEN" page or the mailing list.
Besides the regular workshops hklbgd is open to anyone.
</p>
