---
layout: default
lang: en
title: Mailing List
---

<p>
<a href="https://groups.google.com/forum/#!forum/haklab"> Mailing list </a>
</p>

<p>
<a href="http://groups.google.com/group/haklab/subscribe?hl=en-US"> Subscribe to the mailing list </a>
</p>
