---
layout: default
lang: en
title: Services
---

<main class="services">
    <h1>Haklab Services</h1>
    <p class="desc">
        On Haklab servers currently there is an <a href="#email">Email</a>, 
        <a href="#xmpp">XMPP</a> and <a href="#gitea">Gitea</a>. Everybody is free to use them.
    </p>
    <ul class="service-list">
        <li>
            <h2 id="email">Email</h2>
            <p class="desc">
                Currently you can make mail from the command line only, over Tor network.
                You gotta connect to  Haklab <span class="link">.onion</span> address on port
                <span class="italics">6666</span>, with netcat.
            </p>
                <code>
                    nc pn3txariluydilex4wixptk5w7bgjnidilmt6rqx3m2qilrxbyiwbhyd.onion 6666
                </code>
           <p>
                After that just follow instructions from terminal. <span class="important">Important</span>
                thing to note is that terminal won't hide your password nor show astrisks when you type it out,
                so be careful about snooping eyes.
            </p>

            <p>
                As a mail client we recommend using <a href="https://www.thunderbird.net/en-US/">Thunderbird</a>.
            </p>
        </li>

        <li>
            <h2 id="xmpp">XMPP</h2>
            <p>
                <a href="https://xmpp.org/" class="link">XMPP</a> is message exchange protocol.
                It supports <a href="https://en.wikipedia.org/wiki/Federation_%28information_technology%29" class="link">federation</a> and Haklab has one instance of it on
                <a href="xmpp://xmpp.hklbgd.org" class="link">xmpp.hklbgd.org</a>. XMPP also supports
                <a href="https://en.wikipedia.org/wiki/OMEMO" class="link">OMEMO</a> for encryption.
            </p>
            <p>
                You can make new account with client of your choosing, just set server to <span class="italics">xmpp.hklbgd.org</span> pick a username and you are ready to go. If you already have XMPP account you are ready to communicate with ours. If you wanna join Haklab group ask on mailing list or ask stevan@xmpp.hklbgd.org ili alexej996@xmpp.hklbgd.org.
            </p> 
            <p>
                XMPP clients:
                <ul class="xmpp-clients">
                    <li><a href="https://f-droid.org/en/packages/eu.siacs.conversations/">Conversations</a>(Android)</li>
                    <li><a href="https://gajim.org/">Gajim</a>(Linux/Windows)</li>
                </ul>
            </p>
        </li>

        <li>
            <h2 id="gitea">Gitea</h2>
            <p>
                <a href="https://gitea.io/en-us/" class="link">Gitea</a> is FOSS web client for <a href="" class="link">git</a>,
                It is on  <a href="https://git.hklbg.org">https://git.hklbgd.org</a>. 
            </p>
            <p>
                Gitea asks for email address during registartion, but you can type in any address, since it doesn't ask for email confirmation.
            </p>
        </li>
    </ul>
</main>
