---
layout: default
lang: en
title: What and when
---

<div class="events-wrapper">
	<h4>Current activities </h4>
	{% for event in site.data.events %}
		<h3> {{ event.name }} </h3>
		<p>
			<span class="event-day txt-italic"> {{ event.day-of-the-week }}</span>,
			<span class="event-date txt-italic"> {{ event.date }}</span>
			<span class="time-of-day txt-italic"> {{ event.time-of-day }} </span>
		</p>
		<p class="event-desc">
			{{ event.desc }}
		</p>
	{% endfor %}
</div>
