---
layout: default
lang: sr
title: Doniraj
---
<h1>Doniraj</h1>
<p>Ukoliko zelite da donirate Haklabu novac ili alat/elektroniku, uvek mozete ostaviti kes u kutijicu ispod plakata na kome pise WiFi sifra ili da donesete stvari koje vam ne trebaju u lab.
</p>

<p>
Haklab takodje prima i donacije u kriptovalutama.
</p>

<p>
Bitcoin:    _insert_btc_address_here_
</p>

<p>
Monero:     _insert_xmr_address_here_
</p>
