---
layout: default
lang: sr
title: hklbgd
---
<main>
        <h1>O nama</h1>
        <p>
        Haklab Beograd (8-am){oos^m} je kreativni prostor otvoren za sve programere i entuzijaste tehnologije, umetnike i sve zainteresovane za ukrstanje tehnologije i umetnosti.
        </p>
        <p>
        Haklab nije samo za zajednicu zainteresovanu za bezbednost racunara, kao sto bi se moglo protumaciti iz naziva.
        </p>
        <p>
        Mozete doci i raditi na soptstvenim projektima u drustvu, organizovati ili pridruziti se radionici, hakatonu, game jam-u ili LAN partiju.
        </p>
        <p>
        Ako ste zainteresovani za aktivnosti u hklbgd-u proverite "ŠTA I KAD" stranicu ili mailing listu.
        Osim regularnih radionica hklbgd je otvoren za sve.
        </p>
</main>
