---
layout: default
lang: sr
title: Lokacija
---

<div class="center">
	<p> Danicareva 23 </p>

	<noscript>Da bi mapa radila potrebno je ukljuciti javascript u pregledacu.</noscript>
	<iframe class="location-responsive" width="425" height="350" frameborder="0"
		scrolling="no" marginheight="0" marginwidth="0"
		src="https://www.openstreetmap.org/export/embed.html?bbox=20.477920174598697%2C44.796557279732035%2C20.481755733489994%2C44.79816557166344&amp;layer=mapnik">
	</iframe>
</div>
