---
layout: default
lang: sr
title: Mailing Lista
---

<main>
<p>
<a href="https://groups.google.com/forum/#!forum/haklab"> Mailing lista </a>
</p>

<p>
<a href="https://groups.google.com/group/haklab/subscribe?hl=en-US"> Prijavi se na mailing listu </a>
</p>
</main>
