---
layout: default
lang: sr
title: Servisi
---

<main class="services">
    <h1>Haklab Servisi</h1>
    <p class="desc">
        Na Haklabovim serverima se trenutno hostuju <a href="#email">Email</a>, 
        <a href="#xmpp">XMPP</a> i <a href="#gitea">Gitea</a>. Svako je slobodan da ih koristi,
        ispod se nalaze uputstva i opisi svih ovih servisa.
    </p>
    <ul class="service-list">
        <li>
            <h2 id="email">Email</h2>
            <p class="desc">
                Trenutno je mejl moguce napraviti samo iz komandne linije preko Tor mreze.
                Potrebno je povezati se <span class="link">.onion</span> adresu Haklaba na port
                <span class="italics">6666</span>
            </p>
                <code>
                    nc pn3txariluydilex4wixptk5w7bgjnidilmt6rqx3m2qilrxbyiwbhyd.onion 6666
                </code>
           <p>
                Zatim pratite dalje instrukcije u terminalu. <span class="important">Bitna napomena</span>:
                kada budete unosili sifru bice prikazana u terminalu, tako da neko ko stoji pored moze da je vidi.
            </p>

            <p>
                Za upotrebu mejla mozete koristiti <a href="https://www.thunderbird.net/en-US/">Thunderbird</a>.
            </p>
        </li>

        <li>
            <h2 id="xmpp">XMPP</h2>
            <p>
                <a href="https://xmpp.org/" class="link">XMPP</a> je protokol za razmenu poruka.
                Moze biti <a href="https://en.wikipedia.org/wiki/Federation_%28information_technology%29" class="link">federisan</a> i jedna od instanci se nalazi
                na <a href="xmpp://xmpp.hklbgd.org" class="link">xmpp.hklbgd.org</a>. XMPP takodje podrzava
                <a href="https://en.wikipedia.org/wiki/OMEMO" class="link">OMEMO</a> za sifrovanje.
            </p>
            <p>
                Novi nalog pravite uz pomoc klijenta koji odaberete, samo za sever podesite <span class="italics">xmpp.hklbgd.org</span> odaberite korisnicko ime i to je to. Naravno ukoliko vec imate nalog na nekom drugom XMPP sve vec imate podeseno za komuniciranje sa Haklabovim. Ukoliko zelite da udjete u haklab grupu javite se na mejling listi ili 
                stevan@xmpp.hklbgd.org ili alexej996@xmpp.hklbgd.org.
            </p> 
            <p>
                Mozete da koristite neki od sledecih klijenata za XMPP:
                <ul class="xmpp-clients">
                    <li><a href="https://f-droid.org/en/packages/eu.siacs.conversations/">Conversations</a>(Android)</li>
                    <li><a href="https://gajim.org/">Gajim</a>(Linux/Windows)</li>
                </ul>
            </p>
        </li>

        <li>
            <h2 id="gitea">Gitea</h2>
            <p>
                <a href="https://gitea.io/en-us/" class="link">Gitea</a> je FOSS web klijent za <a href="" class="link">git</a>,
                nalazi se na <a href="https://git.hklbg.org">https://git.hklbgd.org</a>. 
            </p>
            <p>
                 Gitea trazi email adresu pri registaraciji, ali mozete staviti bilo koju, jer server ne trazi potvrdu.
            </p>
        </li>
    </ul>
</main>
