{% if page.lang == "en"%}
<footer class="footer">
	<ul>
		<li><a href="https://hklbgd.org/rss">RSS</a></li>
		<li><a href="https://twitter.com/hklbgd">Twitter</a></li>
		<li><a href="http://pn3txariluydilex4wixptk5w7bgjnidilmt6rqx3m2qilrxbyiwbhyd.onion/">Onion site</a></li>
		<li><a href="https://git.hklbgd.org/hklbgd/">Git HKLBGD</a></li>
		<li><a href="https://gitlab.com/error451/hklbgd-logos-and-stickers">Logos 'n Stickers</a></li>
		<li><a href="https://gitlab.com/stevan95/oosm">Code</a></li>
		<li><a href="https://xmpp.hklbgd.org/">XMPP</a></li>
	</ul>
</footer>
{% else %}
<footer class="footer">
	<ul>
		<li><a href="https://hklbgd.org/rss">RSS</a></li>
		<li><a href="https://twitter.com/hklbgd">Twitter</a></li>
		<li><a href="http://pn3txariluydilex4wixptk5w7bgjnidilmt6rqx3m2qilrxbyiwbhyd.onion/">Onion sajt</a></li>
		<li><a href="https://git.hklbgd.org/hklbgd/">Git HKLBGD</a></li>
		<li><a href="https://gitlab.com/error451/hklbgd-logos-and-stickers">Logo i stikeri</a></li>
		<li><a href="https://gitlab.com/stevan95/oosm">Kod</a></li>
		<li><a href="https://xmpp.hklbgd.org/">XMPP</a></li>
	</ul>
</footer>
{% endif %}
