{% if page.lang == "en" %}
<header id="header">
	<nav class="navbar">
		<div id="banner"><div id="hklbgd-logo">
				<img alt="HKLBGD Logo" class="sm-hide" src="/assets/images/hklbgd.png" />
				</div><div id="caption">
				<a href="/en/index.html" class="title">Haklab Belgrade</a>
				<h3 class="subtitle sm-hide">Open creative space for geeks, artists and creatures alike.</h3>
			</div>
		</div>
		<ul class="links">
			<li><a href="/en/index.html">About us</a></li>
			<li><a href="/en/location.html">Location</a></li>
			<li><a href="/en/what-and-when.html">What and when</a></li>
			<li><a href="/en/donate.html">Donations</a></li>
			<li><a href="/en/mailing-list.html">Mailing list</a></li>
			<li><a href="/en/services.html">Services</a></li>
			<li><a href="/{{ page.name }}" >Srpski</a></li>
		</ul>
	</nav>
</header>
<hr>
{% else %}
<header id="header">
	<nav class="navbar">
		<div id="banner"><div id="hklbgd-logo">
				<img class="sm-hide" src="/assets/images/hklbgd.png" />
			</div><div id="caption">
				<a href="/index.html" class="title">Haklab Beograd</a>
				<h3 class="subtitle sm-hide">Open creative space for geeks, artists and creatures alike.</h3>
			</div>
		</div>

		<input type="checkbox" class="menu-checkbox" id="chb-show-links" />

		<label class="menu-button" for="chb-show-links" id="btn-show-links">
			<div>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</label>

		<ul class="links">
			<li><a href="/index.html">O labu</a></li>
			<li><a href="/location.html">Lokacija</a></li>
			<li><a href="/what-and-when.html">Šta i kad</a></li>
			<li><a href="/donate.html">Donacije</a></li>
			<li><a href="/mailing-list.html">Mailing list</a></li>
			<li><a href="/services.html">Servisi</a></li>
			<li><a href="/en/{{ page.name }}">English</a></li>

		</ul>
	</nav>
</header>
<hr>
{% endif %}
