@font-face {
	font-family: 'Zilla Slab';
	src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Zilla Slab';
	src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Zilla Slab';
	src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Zilla Slab';
	src: url('/assets/fonts/Zilla_Slab/ZillaSlab-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}