@import url('fonts.css');
:root {
	--primary-color: yellow;
	--secondary-color: black;
	--bg-color: #fafafa;
	--text-color: #1f1f1f;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	/* font-family: Courier New; */
	font-family: 'Zilla Slab';
}

h1 {
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h2 {
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.location-responsive {
	max-width: 100%;
}

.events-wrapper h3 {
	color: black;
	border-bottom: 3px solid var(--primary-color);
	width: 40%;
}

.txt-italic {
	font-style: italic;
}

@media (max-width: 576px) {
	.sm-hide {
		display: none;
	}
}

.navbar {
	/* margin: 30px 0; */
}

.navbar > #banner {
	display: inline-block;
}

.navbar > #banner > #caption {
	flex-grow: 1;
	align-self: flex-end;
}

.navbar #hklbgd-logo {
	height: 100%;
}

.navbar #hklbgd-logo > img {
	height: 100%;
}

.navbar .title {
	font-weight: bold;
	display: block;
	/* font-size: 1.5em; */
	font-size: 2em;
	color: var(--primary-color);
	padding: 10px 0;
	padding-left: 15px;
}

.navbar .subtitle {
	width: 80%;
	background-color:var(--primary-color);
	color: var(--secondary-color);
	padding: 5px 0;
	padding-left: 15px;
}

.navbar ul {
	list-style: none;
}

.navbar ul > li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.9em;
}

.navbar ul > li > a {
	display: block;
	width: 100%;
	padding: 15px 5px;
	color: var(--link-color);
}

.navbar ul > li > a:hover {
	background: linear-gradient(var(--primary-color) 10%,var(--primary-color), var(--bg-color)17%, var(--bg-color)17%,var(--bg-color)100%);
	color: var(--secondary-color);
	transition: .3s ease-in;
}

.navbar > #btn-show-links {
	display: none;
	float: right;
	margin-right: 15px;
	width: 48px;
	height: 100%;
}

.navbar > #btn-show-links span {
	display: block;
	width: 24px;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fafafa;
	border-radius: 3px;
}

.navbar > #btn-show-links > div {
	width: 48px;
}

.navbar > #btn-show-links span:not(:last-child) {
	margin-bottom: 5px;
}

input[type='checkbox'].menu-checkbox {
	display: none;
}

input[type='checkbox'].menu-checkbox:checked + label.menu-button + ul {
	display: block;
	position: relative;
}

/* #header {
	margin-bottom: 30px;
} */

footer {
	margin-top: 30px;
}

footer li {
	display: inline-block;
	border-right: 1px solid var(--secondary-color)
	margin-right: 10px;
	padding: 0 15px;
}

@media (max-width: 575px) {
	body {
		padding-top: 48px;
	}

	.navbar {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 48px;
		background-color: var(--secondary-color);
		border-bottom: 1px solid var(--secondary-color);
	}

	.navbar .title {
		font-size: 23px;
	}

	/* .navbar > .title {
		display: inline-block;
		font-size: 48px;
		line-height: 48px;
		padding-top: 0;
		padding-bottom: 0;
	} */

	.navbar > #btn-show-links {
		display: grid;
		align-items: center;
		justify-content: center;
	}

	.navbar > #btn-show-links {
		background: #0e0e0e;
	}

	.navbar > #btn-show-links:hover {
		background-color: #343434;
	}

	.navbar > .links {
		display: none;
	}

	.navbar ul {
		background-color: #1c1c1c;
		user-select: none;
	}

	.navbar ul > li {
		width: 100%;
	}

	.navbar ul > li:hover {
		background: #343434;
	}

	.navbar ul > li > a {
		padding-left: 15px;
		color: white;
	}
}

@media (min-width: 576px) {
	.navbar .title {
		width: 60%;
		background-color: black;
	}

	.navbar > #banner {
		display: flex;
		/* height: 100px; */
		overflow: hidden;
		height: calc(2 * 15px + 2 * 5px + 2em + 1em);
	}
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

.center {
	display: grid;
	justify-content: center;
	align-content: center;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
