<!DOCTYPE html>
{% if page.lang == "en" %}
<html lang="en">
{% else %}
<html lang="sr">
{% endif %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div class="container">
			{% include header.html %}
			{{ content }}
			{% include footer.html %}
		</div>
	</body>
</html>
