<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
 <title>{{ page.title }}</title>
 <description>This is an RSS feed for HKLBGD's events</description>
 <link>https://hklbgd.org/what-and-when.html</link>
 <lastBuildDate>{{ page.date | date_to_rfc822 }}</lastBuildDate>
 <pubDate>{{ page.date | date_to_rfc822 }}</pubDate>
 <ttl>1800</ttl>

{{ content }}

</channel>
</rss>

